---
import { Picture } from "astro:assets"

import { EXTERNAL_LINK, SECTION_ID } from "@/constants"
import bgSupport from "@/images/bg-support.png"

import ButtonLink from "../ButtonLink.astro"
---

<section class="support-bg-gradient">
  <div class="relative isolate">
    <h2
      id={SECTION_ID.support}
      class="absolute left-1/2 top-1/2 z-10 w-3/4 -translate-x-1/2 -translate-y-1/2 scroll-m-56 text-center text-7xl font-extrabold text-white xl:text-6xl lg:text-5xl md:scroll-m-36 md:text-4xl md:font-bold"
    >
      TÁMOGASD A KAMPÁNYT!
    </h2>

    <Picture
      src={bgSupport}
      widths={[640, 768, bgSupport.width]}
      sizes={`(max-width: 640px) 640px, (max-width: 768px) 768px, ${bgSupport.width}px`}
      quality={"max"}
      formats={["avif", "webp"]}
      alt=""
      class="relative -z-10 w-full object-cover object-right md:h-[284px]"
    />

    <div class="support-image-tint absolute inset-0"></div>
  </div>

  <div class="container">
    <div
      class="flex items-center justify-between px-8 py-9 md:flex-col md:gap-6 md:text-center"
    >
      <div class="max-w-xl">
        Nincsenek nagy, milliárdos támogatóink, nem kapunk állami támogatásokat
        - csak Rád számíthatunk!
      </div>

      <ButtonLink href={EXTERNAL_LINK.donate}>Adományozok</ButtonLink>
    </div>
  </div>
</section>

<style>
  .support-image-tint {
    background-color: rgba(127, 182, 95, 0.15);
  }

  .support-bg-gradient {
    background: linear-gradient(
      180deg,
      rgba(127, 182, 95, 0.8) 76.21%,
      rgba(127, 182, 95, 0.17) 100%
    );
  }
</style>
