<h1
  class="mb-12 rotate-hero-text transform text-8xl font-bold uppercase italic xl:mb-10 xl:text-7xl lg:text-4xl"
>
  <slot />
</h1>

<style>
  h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
</style>
