---
import ButtonLink from "@/components/ButtonLink.astro"
import { EXTERNAL_LINK } from "@/constants"

import HeroBackground from "./HeroBackground.astro"
import HeroHeading from "./HeroHeading.astro"
import HeroPartyLogos from "./HeroPartyLogos.astro"
import HeroSocials from "./HeroSocials.astro"
import HeroSubtitle from "./HeroSubtitle.astro"
---

<section>
  <div class="relative text-white">
    <div class="container absolute bottom-24 left-0 right-0 xl:bottom-12">
      <div class="w-[26rem] lg:w-[24rem] sm:w-full sm:text-center">
        <HeroHeading>Törley Katalin</HeroHeading>

        <HeroSubtitle>
          A Tanítanék Mozgalom és a Magyar Kétfarkú Kutyapárt közös európai
          parlamenti képviselőjelöltje
        </HeroSubtitle>

        <ButtonLink class="sm:hidden" href={EXTERNAL_LINK.joinCampaign}>
          Csatlakozz a kampányhoz!
        </ButtonLink>
      </div>
    </div>

    <HeroSocials />
    <HeroPartyLogos />
    <HeroBackground />
  </div>

  <div
    class="container mb-10 mt-6 hidden flex-col items-center text-black sm:flex"
  >
    <div class="mb-6 max-w-[30rem] text-center text-2xl font-semibold">
      A Tanítanék Mozgalom és a Magyar Kétfarkú Kutyapárt közös európai
      parlamenti képviselőjelöltje
    </div>

    <ButtonLink href={EXTERNAL_LINK.joinCampaign}>
      Csatlakozz a kampányhoz!
    </ButtonLink>
  </div>
</section>

<style>
  h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .hero-gradient {
    background: linear-gradient(
      92.5deg,
      rgba(0, 0, 0, 0.45) 46%,
      rgba(113, 113, 113, 0.24975) 80%,
      rgba(255, 255, 255, 0) 98%
    );
  }

  @media screen(md) {
    .hero-gradient {
      background: linear-gradient(
        92.5deg,
        rgba(0, 0, 0, 0.45) 61%,
        rgba(113, 113, 113, 0.24975) 93%,
        rgba(255, 255, 255, 0) 98%
      );
    }
  }

  @media screen(sm) {
    .hero-gradient {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45) 10%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
</style>
