---
import { Picture } from "astro:assets"

import Accomplishments from "@/components/accomplishments/Accomplishments.astro"
import Contact from "@/components/contact/Contact.astro"
import Faq from "@/components/faq/Faq.astro"
import Goals from "@/components/goals/Goals.astro"
import Hero from "@/components/hero/Hero.astro"
import Introduction from "@/components/introduction/Introduction.astro"
import Nav from "@/components/nav/Nav.astro"
import Support from "@/components/support/Support.astro"
import crowd from "@/images/crowd.png"
import SiteLayout from "@/layouts/SiteLayout.astro"
import Footer from "@/components/footer/Footer.astro"
---

<SiteLayout>
  <Hero />
  <Nav />
  <Introduction />
  <Support />
  <Goals />
  <Accomplishments />
  <div class="container mt-4 flex justify-center lg:!max-w-none lg:p-0">
    <Picture
      class="h-[420px] overflow-hidden rounded-md object-cover xl:rounded-none md:object-[40%]"
      widths={[768, crowd.width]}
      sizes={`(max-width: 768px) 768px, ${crowd.width}px`}
      src={crowd}
      formats={["avif", "webp"]}
      quality={"max"}
      alt="Törley Katalin a Tanítanék mozgalom tüntetésén"
    />
  </div>
  <Faq />
  <Contact />
  <Footer />
</SiteLayout>
