---
import { Picture } from "astro:assets"

import Accomplishments from "@/components/accomplishments/Accomplishments.astro"
import Contact from "@/components/contact/Contact.astro"
import Faq from "@/components/faq/Faq.astro"
import Goals from "@/components/goals/Goals.astro"
import Hero from "@/components/hero/Hero.astro"
import Introduction from "@/components/introduction/Introduction.astro"
import Nav from "@/components/nav/Nav.astro"
import Support from "@/components/support/Support.astro"
import crowd from "@/images/crowd.png"
import SiteLayout from "@/layouts/SiteLayout.astro"
---

<SiteLayout>
  <Hero />
  <Nav />
  <Introduction />
  <Support />
  <Goals />
  <Accomplishments />
  <div class="flex justify-center">
    <Picture
      class="h-[420px] w-full overflow-hidden rounded-md object-cover"
      src={crowd}
      formats={["avif", "webp"]}
      alt="Törley Katalin a Tanítanék mozgalom tüntetésén"
    />
  </div>
  <Faq />
  <Contact />
</SiteLayout>
