---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/utils"

export interface Props extends HTMLAttributes<"a"> {}

const { class: className, target = "_blank", ...attrs } = Astro.props
---

<a
  class={cn(
    "grid place-items-center group gap-6 text-center transition duration-200",
    className
  )}
  target={target}
  {...attrs}
>
  <div class="transition duration-200 group-hover:scale-105">
    <slot name="icon" />
  </div>
  <slot name="text" />
</a>
