---
import { Image } from "astro:assets"
import Kata from "../images/kata.png"
import H2 from "./H2.astro"
---

<section class="bg-primary-700 py-12 text-white">
  <div
    class="container flex flex-col items-center gap-20 lg:flex-row lg:items-start"
  >
    <div>
      <H2>Bemutatkozásom</H2>
      <div class="space-y-4 text-xl">
        <p>
          Törley Katalin vagyok, tanár. 23 évig tanítottam francia nyelvet,
          irodalmat és civilizációt a Kölcsey Gimnázium két tanítási nyelvű
          tagozatán. Az állásomból 2022 októberében kirúgtak a polgári
          engedetlenségi mozgalomban való részvételem miatt.
        </p>
        <p>
          2016-ban Pilz Olivér mellett alapítója voltam a Tanítanék Mozgalomnak,
          amely azóta az elmúlt évtized legnagyobb hatású civil szervezetévé
          nőtte ki magát.
        </p>
        <p>
          EP-képviselőként továbbra is elsősorban a magyarországi közoktatás
          ügyét, többszázezer magyar gyerek és pedagógus ügyét fogom képviselni.
          Az oktatási rendszer számos szállal kapcsolódik más területekhez, és
          problémákhoz, így ezek is nyilván fontos témáim lesznek (gyermekjogok,
          emberi jogok, munkavállalói jogok, közszolgálatiság, romák helyzete,
          szegregáció).
        </p>
      </div>
    </div>

    <Image
      src={Kata}
      width="400"
      class="w-[25rem] rounded-xl"
      alt="Törley Katalin egy demonstráción"
    />
  </div>
</section>
