---
import type { HTMLAttributes } from "astro/types"

import { anchorAttributes, cn } from "@/utils"

export interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...attrs } = Astro.props
---

<a
  class={cn(
    "text-white justify-center bg-primary py-4 px-8 leading-none text-center font-semibold inline-flex shadow-md transition-colors duration-200 hover:bg-primary-hover",
    className
  )}
  {...anchorAttributes(attrs)}
>
  <slot />
</a>
