---
import Faq from "./Faq.astro"
import H2 from "./H2.astro"
import IconQuestionMark from "./IconQuestionMark.astro"
---

<section class="container py-12">
  <H2>
    <div class="flex items-center gap-4">
      <span>Gyakran ismételt kérdések</span>
      <IconQuestionMark />
    </div>
  </H2>

  <div class="grid grid-cols-1 gap-6 sm:gap-4 lg:grid-cols-2">
    <Faq>
      <Fragment slot="question"> Hogyan lehet támogatni a kampányt? </Fragment>
      <Fragment slot="answer">
        A kampány alapját adjak a magánszemélyek adományai, csak így van
        esélyünk nyerni! Amennyiben szeretnél adományozni, <a
          class="text-primary-700 underline underline-offset-2 hover:text-primary-500"
          href="https://ketfarkukutya.mkkp.party/ep-adomany/ "
          aria-label="adományozási link">kattints ide</a
        >!
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question"> Hogyan csatlakozhatok a kampányhoz? </Fragment>
      <Fragment slot="answer">
        Nagy szükség lesz aktivistákra a kampány során, akik segítenek események
        szervezésében. <a
          class="text-primary-700 underline underline-offset-2 hover:text-primary-500"
          href="https://actionnetwork.org/forms/jelentkezz-a-torley-kampany-aktivistajanak-2"
          aria-label="jelentkezési link">Kattints ide</a
        >, ha jelentkeznél önkéntesnek! Akkor is számítunk rád, ha csak online
        tudnál segíteni - úgyis sok feladat van.
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question"> Mi az a Tanítanék Mozgalom? </Fragment>
      <Fragment slot="answer">
        A <a
          class="text-primary-700 underline underline-offset-2 hover:text-primary-500"
          target="_blank"
          href="https://www.tanitanek.info/">Tanítanék Mozgalom</a
        > 2016-ban indult el a miskolci Herman Ottó Gimnázium nevelőtestülete által
        publikált, a közoktatás válságáról szóló nyílt levél eredményeként. Azóta
        már számos tömegrendezvényt szerveztünk, illetve belekeztünk egy országos
        hálózat építésébe is. 2022 tavaszán felkaroltuk a polgári engedetlenségi
        mozgalmat, amely során 400 iskola és 8000 tanár vett részt a pedagógusok
        sztrájkjogának ellehetetlenítése miatt.
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question">
        Mit lehet tenni a magyarországi oktatásért az Európai Parlamentből?
      </Fragment>
      <Fragment slot="answer">
        A képviselői hely lehetőséget ad arra, hogy folyamatosan napirenden
        tarthassuk ráadásul egy nagyobb színtéren a magyarországi diákok,
        pedagógusok, és szülők ügyét. Ezen kívül az oktatáshoz szorosan
        kapcsolódó témákkal is fogunk foglalkozni,mint a gyermekjogok, az emberi
        jogok, munkavállalói jogok, a közszolgálatiság helyzete, romák helyzete,
        a szegregáció problémája. Ezeken keresztül lehet hatást kifejteni a
        magyarországi oktatásra is.
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question"> Hogyan lehet rád szavazni? </Fragment>
      <Fragment slot="answer">
        A magyarországi EP választás az önkormányzati választásokkal egy időben,
        <em class="font-semibold not-italic">június 9-én</em> lesz. A szavazólapon
        keresd majd a Magyar Kétfarkú Kutyapárt listáját, a nevemet ott fogod találni!
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question">
        Miért a Magyar Kétfarkú Kutyapárttal indul a Tanítanék?
      </Fragment>
      <Fragment slot="answer">
        A Magyar Kétfarkú Kutyapárt az egyetlen mozgalmi háttérrel rendelkező,
        civil ügyeket felkaroló párt jelenleg az országban, ezért képzelhető a
        két szervezet közötti együttműködés.
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question">
        Nem veszíti el a Tanítanék így a civil jellegét?
      </Fragment>
      <Fragment slot="answer">
        Az oktatásért való küzdelem alapvetően politikai. Az EP képviselőség egy
        új szintre emelhetné a Tanítanék Mozgalom, és a többi oktatási szervezet
        munkáját. A Tanítanék megalakulása óta használ az adott körülményeknek
        megfelelően különböző, sokszor formabontó eszközöket - ennek egy
        következő lépése az európai parlamenti kampány
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question"> Mi a terv, miután képviselő leszel? </Fragment>
      <Fragment slot="answer">
        EP-képviselőként továbbra is elsősorban a magyarországi közoktatás
        ügyét, többszázezer magyar gyerek és pedagógus ügyét fogom képviselni.
        Az időmet megosztom majd a brüsszeli, illetve az itthoni teendők között,
        ugyanúgy fogom folytatni a Tanítanékos munkámat is. És persze jobbá
        tesszük a magyarországi és az európai oktatást!
      </Fragment>
    </Faq>

    <Faq>
      <Fragment slot="question">
        A Tanítanékhoz beérkezett adományok a kampányra is mennek?
      </Fragment>
      <Fragment slot="answer">
        A Tanítanék Mozgalom a több tízezer adományozójának köszönhetően működik
        fenntarthatóan. Természetesen a szervezetnek beérkezett összeget nem
        fordítjuk a kampányra, azok továbbra is a Mozgalom épülését, a
        szervezett programok megvalósulását fogják segíteni.
      </Fragment>
    </Faq>
  </div>
</section>
