<header class="sticky top-0 z-40 bg-primary-700 p-3.5 text-white shadow-lg">
  <div class="container flex items-center justify-between">
    <div class="text-xl font-semibold">Törley Katalin</div>

    <div class="flex items-center gap-4 text-2xl leading-none sm:text-3xl">
      <a
        href="https://www.facebook.com/torley.kata/"
        class="i-simple-icons-facebook hover:text-primary-200"
        aria-label="Facebook"></a>
      <a
        href="https://www.instagram.com/torley.kata/"
        class="i-simple-icons-instagram hover:text-primary-200"
        aria-label="Instagram"></a>
      <a
        href="https://www.youtube.com/channel/UCuUyrk5t4nzx6htil1hXgrQ "
        class="i-simple-icons-tiktok hover:text-primary-200"
        aria-label="YouTube"></a>
      <a
        href="https://www.tiktok.com/@trley.kata?_t=8jcwuqQpQg4&_r=1"
        class="i-simple-icons-youtube hover:text-primary-200"
        aria-label="TikTok"></a>
    </div>
  </div>
</header>
