---
import type { HTMLAttributes } from "astro/types"

import { anchorAttributes, cn } from "@/utils"

export interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...attrs } = Astro.props
---

<a
  class={cn("underline-offset-2 hover:underline", className)}
  {...anchorAttributes(attrs)}
>
  <slot />
</a>
