<section class="py-12">
  <div class="container border-y-2 py-12 text-2xl before:inline md:text-3xl">
    <div
      class="mx-auto max-w-[1042px] text-center before:font-semibold before:text-primary-700 before:content-[open-quote] after:font-semibold after:text-primary-700 after:content-[close-quote]"
    >
      Legyen tényleg ingyenes az ingyenes közoktatás! Modern és felszerelt
      iskolákat akarunk, amiket nem a szülők finanszíroznak! Túlterhelt gyerekek
      és pedagógusok helyett hatékony és támogató tudásátadásra van szükségünk!
    </div>
  </div>
</section>
