---
import HeroBackground from "@/components/hero/HeroBackground.astro"
import HeroHeading from "@/components/hero/HeroHeading.astro"
import HeroPartyLogos from "@/components/hero/HeroPartyLogos.astro"
import HeroSocials from "@/components/hero/HeroSocials.astro"
import HeroSubtitle from "@/components/hero/HeroSubtitle.astro"
---

<section>
  <div class="relative text-white">
    <div class="container absolute bottom-24 left-0 right-0 xl:bottom-12">
      <div class="w-[26rem] lg:w-[24rem] sm:w-full sm:text-center">
        <HeroHeading>Katalin Törley</HeroHeading>

        <HeroSubtitle>
          Joint candidate of the Tanítanék Movement and the Hungarian Two-Tailed
          Dog Party for the European Parliament
        </HeroSubtitle>
      </div>
    </div>

    <HeroSocials />
    <HeroPartyLogos />
    <HeroBackground />
  </div>

  <div
    class="container mb-10 mt-6 hidden flex-col items-center text-black sm:flex"
  >
    <div class="max-w-[30rem] text-center text-2xl font-semibold">
      Joint candidate of the Tanítanék Movement and the Hungarian Two-Tailed Dog
      Party for the European Parliament
    </div>
  </div>
</section>

<style>
  h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .hero-gradient {
    background: linear-gradient(
      92.5deg,
      rgba(0, 0, 0, 0.45) 46%,
      rgba(113, 113, 113, 0.24975) 80%,
      rgba(255, 255, 255, 0) 98%
    );
  }

  @media screen(md) {
    .hero-gradient {
      background: linear-gradient(
        92.5deg,
        rgba(0, 0, 0, 0.45) 61%,
        rgba(113, 113, 113, 0.24975) 93%,
        rgba(255, 255, 255, 0) 98%
      );
    }
  }

  @media screen(sm) {
    .hero-gradient {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45) 10%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
</style>
