---
import { EXTERNAL_LINK } from "@/constants"
import ButtonLink from "../ButtonLink.astro"
---

<section class="support-bg-gradient">
  <div class="container">
    <div
      class="flex items-center justify-between gap-6 px-8 py-9 md:flex-col md:text-center"
    >
      <div class="max-w-xl">
        We don't have billionaire donors, we don't get government subsidies - we
        can only count on you!
      </div>

      <ButtonLink href={EXTERNAL_LINK.donate}>Donate</ButtonLink>
    </div>
  </div>
</section>

<style>
  .support-bg-gradient {
    background: linear-gradient(
      360deg,
      rgba(127, 182, 95, 0.8) 45.65%,
      rgba(127, 182, 95, 0.17) 112.73%
    );
  }
</style>
