---
import Tanitanek from "@/components/icons/Tanitanek.astro"
import InlineLink from "../InlineLink.astro"
import mkkpEpLogo from "@/images/mkkp-ep-logo.png"
import { SECTION_ID } from "@/constants"
---

<footer class="bg-secondary-dark pb-14 pt-8 text-white">
  <div class="container flex gap-2">
    <div class="grid flex-1 grid-cols-2 place-content-center">
      <div>
        <InlineLink href="/rolam">Rólam</InlineLink>
      </div>
      <div>
        <InlineLink href={`#${SECTION_ID.goals}`}
          >Ügyek és eredmények</InlineLink
        >
      </div>
      <div>
        <InlineLink href="#">Csatlakozz</InlineLink>
      </div>
      <div>
        <InlineLink href="#">Gyakori kérdések</InlineLink>
      </div>
      <div>
        <InlineLink href="#">Támogass</InlineLink>
      </div>
      <div>
        <InlineLink href="/en">English</InlineLink>
      </div>
    </div>

    <div class="flex flex-col gap-4 border-l border-l-white py-2 pl-7">
      <InlineLink
        href="#"
        class="flex items-center gap-5 text-3xl font-extrabold"
      >
        <Tanitanek class="size-10" />
        <span class="drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]">TANÍTANÉK!</span>
      </InlineLink>

      <InlineLink
        href="#"
        class="flex items-center gap-5 text-[28px] font-semibold"
      >
        <img src={mkkpEpLogo.src} alt="" width={40} height={40} />
        <span class="italic">MAGYAR KÉTFARKÚ KUTYA PÁRT</span>
      </InlineLink>

      <InlineLink
        href="mailto:info@torleykatalin.hu"
        class="ml-[3.75rem] flex items-center"
      >
        <span>info@torleykatalin.hu</span>
      </InlineLink>
    </div>
  </div>
</footer>
