<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Törley Katalin hivatalos oldala</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Legyen tényleg ingyenes az ingyenes közoktatás! Modern és felszerelt iskolákat akarunk, amiket nem a szülők finanszíroznak! Túlterhelt gyerekek és pedagógusok helyett hatékony és támogató tudásátadásra van szükségünk!"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Törley Katalin",
        "url": "http://www.torleykatalin.hu/",
        "image": "https://www.tanitanek.info/wp-content/uploads/2022/11/kata-800x800.png",
        "sameAs": [
          "https://www.facebook.com/torley.kata/",
          "https://www.instagram.com/torley.kata/",
          "https://www.youtube.com/channel/UCuUyrk5t4nzx6htil1hXgrQ",
          "http://www.torleykatalin.hu/"
        ],
        "worksFor": {
          "@type": "Organization",
          "name": "Tanítanék Mozgalom"
        }
      }
    </script>
  </head>

  <body class="font-sans">
    <slot />
  </body>

  <footer class="flex justify-center bg-[#222328] py-1 text-white">
    <div>© Törley Katalin 2024</div>
  </footer>
</html>
