---
import Footer from "../components/footer/Footer.astro"
import JsonLD from "../components/head/JsonLD.astro"
import Meta from "../components/head/Meta.astro"

interface Props {
  lang?: string
}

const { lang = "hu" } = Astro.props
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <title>Törley Katalin hivatalos oldala</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Meta />
    <JsonLD />
  </head>

  <body class="font-sans text-2xl">
    <main class="relative text-xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
