---
import { SECTION_ID } from "@/constants"
import { withBase } from "@/utils"

import NavLink from "./NavLink.astro"
---

<nav class="sticky top-0 z-40 bg-primary text-white shadow">
  <ul
    class="container flex justify-between py-7 text-3xl font-semibold uppercase md:text-2xl"
  >
    <li>
      <NavLink href={withBase(`/#${SECTION_ID.support}`)}>Támogass</NavLink>
    </li>
    <li>
      <NavLink href={withBase(`/#${SECTION_ID.goals}`)}>Ügyek</NavLink>
    </li>
    <li>
      <NavLink href={withBase(`/#${SECTION_ID.goals}`)}>Kapcsolat</NavLink>
    </li>
    <li>
      <NavLink href={withBase("/en")}>English</NavLink>
    </li>
  </ul>
</nav>
