---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/utils"

export interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...attrs } = Astro.props
---

<a
  class={cn(
    "bg-gradient-to-r from-current to-current bg-[length:0_2px] bg-right-bottom bg-no-repeat pb-px transition-[background-size] duration-300 hover:bg-[length:100%_2px] hover:bg-left-bottom motion-reduce:transition-none",
    className,
  )}
  {...attrs}
>
  <slot />
</a>
