---
import Tick from "../icons/Tick.astro"
---

<li class="flex gap-12 md:flex-col md:items-center md:gap-4">
  <Tick class="size-[4.375rem] shrink-0 text-primary md:size-14" />
  <div class="flex items-center text-justify sm:text-left">
    <slot />
  </div>
</li>
