---
import SectionTitle from "@/components/SectionTitle.astro"

import AccomplishmentList from "./AccomplishmentList.astro"
import AccomplishmentListItem from "./AccomplishmentListItem.astro"
---

<section class="container py-10">
  <SectionTitle class="mb-12">Eredmények</SectionTitle>

  <AccomplishmentList>
    <AccomplishmentListItem>
      A Tanítanék Mozgalommal tömegtüntetéseket tartottunk az oktatásért,
      amelyeken több tízezren vettek részt. Sok ezer pedagógussal sztrájkot és
      polgári engedetlenségi mozgalmat szerveztünk. A megtorlásokra felkészülve
      sztrájkalapot hoztunk létre - ebből 2000 megbüntetett pedagógus fizetését
      pótoltuk ki. Felépítettünk egy száz ezer fős közösséget, akik kiállnak
      mellettünk és a céljainkért.
    </AccomplishmentListItem>

    <AccomplishmentListItem>
      A Tanítanék Mozgalomnak kiemelt szerepe van abban, hogy az elmúlt nyolc
      évben folyamatosan napirenden tudtuk tartani az oktatás ügyét, és hogy a
      hatalom is elkezdett vele foglalkozni.
    </AccomplishmentListItem>

    <AccomplishmentListItem>
      A kiállásaink eredményeként a kormány 2023-ban kénytelen volt megemelni az
      összes pedagógus bérét, ami ugyan nem volt elegendő, de az első lépést
      jelentheti az oktatási reform útján.
    </AccomplishmentListItem>
  </AccomplishmentList>
</section>
