---
import { Picture } from "astro:assets"

import bgCard from "@/images/bg-card.png"

interface Props {
  image: ImageMetadata
  heading: string
}

const { image, heading } = Astro.props
---

<li
  class="goal-card group relative flex w-[22rem] flex-col items-center justify-between gap-8 overflow-hidden bg-secondary px-14 py-16 text-center md:w-full sm:py-20"
>
  <div class="flex flex-col items-center">
    <Picture class="mb-6" src={image} formats={["avif", "webp"]} alt="" />
    <div class="text-2xl font-semibold">{heading}</div>
  </div>
  <button class="text-primary underline underline-offset-2">Részletek</button>

  <div
    class="absolute inset-0 z-10 translate-y-full p-16 text-white opacity-40 transition duration-300 ease-out group-hover:translate-y-0 group-hover:opacity-100"
  >
    <div class="mb-8 text-2xl font-semibold">{heading}</div>
    <div class="text-xl">
      <slot />
    </div>
    <Picture
      src={bgCard}
      alt=""
      formats={["avif", "webp"]}
      quality={"max"}
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    />
  </div>
</li>

<script>
  const goalCardButtons = document.querySelectorAll(".goal-card button")
  for (const button of goalCardButtons) {
    button.addEventListener("click", () => {
      button.nextElementSibling?.classList.add("translate-y-0", "opacity-100")
    })
  }
</script>
